<!DOCTYPE html>

<% include ./partials/header %>

<div class="albums-page">

  <div class="albums-info">
    <h1><%= album.title%></h1>
  </div>

  <a href="" >Add Review</a>

  <div class="albums-page-reviews">
    <h2> Album Reviews </h2>
    <div class="reviews">
      <% reviews.forEach(function(review) { %>
        <h3><%= album.title%></h3>
        <h6><%= review.timestamp %></h6>
        <p><%= review.review%></p>
        <% users.forEach(function(user) { %>
          <% if (user.id === review.user_id) {%>
            <h4>By: <%= user.name %></h4>
          <% }%>
        <% }) %>
      <% })%>
    </div>
  </div>
  
</div>

<% include ./partials/footer %>